
# fastapi
# uvicorn
# gunicorn
# python-dotenv
# azure-cognitiveservices-vision-face
# msrest
# azure-storage-blob
# azure-core
# pydantic
# requests
# azure-identity
# python-multipart


fastapi
uvicorn
gunicorn
python-dotenv
azure-ai-vision-face==1.0.0b2
azure-storage-blob
azure-identity
python-multipart
pydantic
requests
azure-cognitiveservices-vision-face

